<footer class="footer">
  <span style="font-size: large">シューノ</span>
  <nav>
    <ul>
      <li><%= link_to "収納ボックス一覧", root_path %></li>
      <li><%= link_to "グループ一覧", root_path %></li>
      <li><%= link_to "キャンペーン", root_path %></li>
    </ul>
  </nav>
</footer>